<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
  crossorigin="anonymous"></script>
<script
src="/assets/lib/jquery.magnific-popup.min.js"></script>



<script>
  document.getElementsByTagName('hy-push-state')[0].addEventListener('hy-push-state-load', function() {
    $('article > p > img[alt]').replaceWith(function () {
        return '<figure>'
            + '<a href="' + $(this).attr('src') + '" class="mg-link">'
            + '<img src="' + $(this).attr('src') + '"/></a>';
    });
    
    // 이미지를 magnific popup image viewer에 연결시킴
    $('.mg-link').magnificPopup({
        type: 'image',
        closeOnContentClick: true
    });
  });
</script>